<ion-content class="ion-padding home-content">
  <div class="home-container">
    <div class="welcome-icon">🧠</div>
    <h1>¡Memorama!</h1>
    <p class="welcome-text">
      Encuentra todas las parejas volteando las cartas.<br />
      ¡Menos movimientos es mejor!
    </p>
    <div class="buttons-area">
      <ion-button expand="block" color="primary" (click)="irADificultad()">
        Jugar
      </ion-button>
      <ion-button expand="block" fill="outline" color="primary" (click)="verMejoresTiempos()">
        Ver Mejores Tiempos
      </ion-button>
    </div>
  </div>
</ion-content>
